<!-- NOTE: since the spiderman animation fucks up with slide.js auto-animate, we are abandoning dots 1 to 4-->
<div class="header">
  <svg data-id="dot5" class="dot dot-red" viewBox="0 0 10 10" data-auto-animate-delay="0.0">
    <rect class="shape" x="0" y="0" width="10" height="10" rx="2" />
  </svg>
  <svg data-id="dot6" class="dot dot-green" viewBox="0 0 10 10" data-auto-animate-delay="0.1">
    <rect class="shape" x="0" y="0" width="10" height="10" rx="2" />
  </svg>
  <svg data-id="dot7" class="dot dot-blue" viewBox="0 0 10 10" data-auto-animate-delay="0.2">
    <rect class="shape" x="0" y="0" width="10" height="10" rx="2" />
  </svg>
  <svg data-id="dot8" class="dot dot-yellow" viewBox="0 0 10 10" data-auto-animate-delay="0.3">
    <rect class="shape" x="0" y="0" width="10" height="10" rx="2" />
  </svg>
  <div data-id="title">Relações de Poder nas Organizações</div>
  <div data-id="title-underline" class="title-underline"></div>
</div>
