<svg id="org_chart_svg" xmlns="http://www.w3.org/2000/svg">
  <path class="link" d="M 330 70 C 380 70, 380 70, 432 70" />

  <path class="link" d="M 512 100 C 512 160, 100 160, 100 220" />
  <path class="link" d="M 512 100 C 512 160, 280 160, 280 220" />
  <path class="link" d="M 512 100 C 512 160, 744 160, 744 220" />
  <path class="link" d="M 512 100 C 512 160, 924 160, 924 220" />

  <path class="link" d="M 512 100 C 400 350, 350 250, 265 325" />
  <path class="link" d="M 512 100 C 600 350, 680 250, 579 325" />

  <path class="link" d="M 380 290 C 280 450, 160 400, 160 470" />
  <path class="link" d="M 380 290 C 280 450, 400 400, 400 470" />

  <path class="link" d="M 580 290 C 744 450, 624 400, 624 470" />
  <path class="link" d="M 580 290 C 744 450, 864 400, 864 470" />

  <g class="node">
    <rect x="175" y="45" width="160" height="60" class="node-shadow" />
    <rect x="170" y="40" width="160" height="60" class="node-rect bg-l1" />
    <text x="250" y="70" class="node-text">Dono</text>
  </g>

  <g class="node">
    <rect x="437" y="45" width="160" height="60" class="node-shadow" />
    <rect x="432" y="40" width="160" height="60" class="node-rect bg-l2" />
    <text x="512" y="70" class="node-text">Diretor</text>
  </g>

  <g class="node">
    <rect x="25" y="175" width="160" height="60" class="node-shadow" />
    <rect x="20" y="170" width="160" height="60" class="node-rect bg-l3" />
    <text x="100" y="200" class="node-text">Financeiro</text>
  </g>

  <g class="node">
    <rect x="155" y="225" width="160" height="60" class="node-shadow" />
    <rect x="150" y="220" width="160" height="60" class="node-rect bg-l3" />
    <text x="230" y="250" class="node-text">Comercial</text>
  </g>

  <g class="node">
    <rect x="799" y="175" width="160" height="60" class="node-shadow" />
    <rect x="794" y="170" width="160" height="60" class="node-rect bg-l3" />
    <text x="874" y="190" class="node-text">Medicina e</text>
    <text x="874" y="210" class="node-text">Recepção</text>
  </g>

  <g class="node">
    <rect x="669" y="225" width="160" height="60" class="node-shadow" />
    <rect x="664" y="220" width="160" height="60" class="node-rect bg-l3" />
    <text x="744" y="250" class="node-text">TI e Qualidade</text>
  </g>

  <g class="node">
    <rect x="265" y="295" width="160" height="60" class="node-shadow" />
    <rect x="260" y="290" width="160" height="60" class="node-rect bg-l3" />
    <text x="340" y="310" class="node-text">SST e</text>
    <text x="340" y="330" class="node-text">Engenharia</text>
  </g>

  <g class="node">
    <rect x="579" y="295" width="160" height="60" class="node-shadow" />
    <rect x="574" y="290" width="160" height="60" class="node-rect bg-l3" />
    <text x="654" y="320" class="node-text">Administrativo</text>
  </g>

  <g class="node">
    <rect x="85" y="455" width="160" height="60" class="node-shadow" />
    <rect id="tech-intern" x="80" y="450" width="160" height="60" class="node-rect bg-l4" />
    <text x="160" y="470" class="node-text">Técnicos</text>
    <text x="160" y="490" class="node-text">Internos</text>
  </g>

  <g class="node">
    <rect x="325" y="455" width="160" height="60" class="node-shadow" />
    <rect x="320" y="450" width="160" height="60" class="node-rect bg-l4" />
    <text x="400" y="470" class="node-text">Técnicos</text>
    <text x="400" y="490" class="node-text">Externos</text>
  </g>

  <g class="node">
    <rect x="549" y="455" width="160" height="60" class="node-shadow" />
    <rect x="544" y="450" width="160" height="60" class="node-rect bg-l4" />
    <text x="624" y="470" class="node-text">Dados e</text>
    <text x="624" y="490" class="node-text">Agendamento</text>
  </g>

  <g class="node">
    <rect x="789" y="455" width="160" height="60" class="node-shadow" />
    <rect x="784" y="450" width="160" height="60" class="node-rect bg-l4" />
    <text x="864" y="470" class="node-text">Customer</text>
    <text x="864" y="490" class="node-text">Success</text>
  </g>
</svg>
